<html>
  <head>
     <title>Index page of the RC car API</title>
  </head>
  <body>
    <h1>Usage</h1>
	<p>The current API supports 2 endpoints: one for the direction and one for the speed.</p>
	<p>
	<ul>
	  <li>Direction endpoint, supports the following parameters:</li>
	  <ul>
	    <li>'forward': moves the car forward</li>
		<li>'reverse': moves the car in reverse</li>
		<li>'left': turns the car to the left</li>
		<li>'right': turns the car to the right</li>
	  </ul>
	  <li>Speed endpoint, supports the following parameters:</li>
	  <ul>
	    <li>'slow': slow speed</li>
		<li>'medium': medium speed</li>
		<li>'fast': fast speed</li>
		<li>'stop': stops the car</li>
	  </ul>
	</ul>  
  </body>
</html>